DEBUG=false

WEBAPP_URL=https://example.com

BOT_TOKEN=123456789:change-me
BOT_USERNAME=examplebot
BOT_WEBHOOK_SECRET=change-me
BOT_DEV_ID=0

JWT_SECRET=change-me

TG_CLIENT_ID=123456789
TG_CLIENT_SECRET=change-me

TONCENTER_API_KEY=change-me
TONCENTER_API_RPS=10

MYTONPROVIDER_API_KEY=change-me
MYTONPROVIDER_API_RPS=10
